:root{
    --line-color: rgb(0, 211, 0);
    --main-color: #B82731;
}

.form1{
    font-size: small;
    position: relative;
    min-width: 700px;
    padding: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 3px 3px 3px 3px rgb(172, 172, 172);

}
.div-avt{
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    box-shadow: 2px 2px 2px 2px rgb(172, 172, 172);
   /*  border-radius: 10px; */
}
.avatar{
    margin: 10px;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border: solid 5px white;
}
.f1-l{
    width: 40%;
    height: 100%;
    background-color: #ddd;
    box-shadow: 2px 2px 2px 2px rgb(172, 172, 172);
}
.info{
    width: 215px;
    height: 230px;
}


.f1-r{
    width: 60%;
    height: 100%;
}

.info{
    margin: 5px;
    width: 100%;
    height: 130px;
    background: var(--main-color);
    position: relative;
    /* border-radius: 10px; */
    box-shadow: 3px 3px 3px 3px rgb(172, 172, 172);
    text-align: center;

}

.div-name{
    padding: 50px;
}
.name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color:aliceblue;
}
.sub{
    text-transform: uppercase;
    font-size: 15px;
    color:aliceblue;
}

.div-l{
    margin-top: 15px;
    width: 100%;
}
.div-l-header{
    font-weight: bold;
    align-items:center;
    margin: auto;
    display: flex;
    padding-left: 20px;
    color:aliceblue;
    height: 30px;
    background-color: var(--main-color);
    width: 90%;
   
}
.hd-icon{
    margin-right: 10px;
}
.info-icon{
    color: var(--main-color);
    margin-right: 10px;
    width: 30px;
}
.div-l-child{
    padding: 5px;
    padding-left: 10px;
}

.myProgress {
    margin-left: 20%;
    width: 50%;
    background-color: #ddd;
    border-radius: 5px;
    float: right;
  }
  
.myBar {
    border-radius: 5px;
    width: 5%;
    height: 10px;
    background-color: var(--main-color);
    text-align: center;
    line-height: 30px;
    color: white;
}

.date{
    font-size: smaller;
    font-style: italic;
    float: right;
    font-weight: bold;
}

.div-r{
    padding: 20px;

}
.div-r-header{
    font-weight: bold;
    border: solid 2px var(--main-color);
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
    color:aliceblue;
    height: 30px;
    color: var(--main-color);
    width: 100%;
}
.div-r-child{
    width: 100%;
    padding: 10px;
    margin-left: 15px;
}
.title-r{
    text-transform: uppercase;
    color: var(--main-color);
}
#footer{
    padding-left: 5px;
    padding-right: 5px;
    position:absolute;
    width: 95%;
    height: 15px;
    bottom:0;
    background-color: var(--main-color);
}

.color-main{
    position: absolute;
    right: 15px;
    top: 15px;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.mess{
    color: gray;
    padding: 8px;
    background-color: rgb(250, 234, 214);
    font-size: 12px;
    margin-top: 20px;
    height:170px;
    width: 26px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(172, 172, 172);
}