body{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sidebar{
    font-size: 12px;;
    position: relative;
    padding-left: 10px;
    background-image: url("../images/bg2.jpg");
    width: 30%;
    height: 100vh;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    overflow-y:auto;
    scrollbar-gutter: stable;
    box-shadow: 3px 3px 3px 3px rgb(172, 172, 172);
}
.form-cv{
    margin-left:5px;
    width:120px;
    height:150px;
    border: solid 1px white;
    box-shadow: 2px 2px 2px rgb(219, 219, 219);
    transition: transform .2s;
}
.form-cv:hover{
    transform: scale(1.5);
}
#lb-upload{
    display: inline-block;
    background-color: rgb(66, 66, 240);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    border: solid 1px white;
  }

.right{
    width: 70%;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-y:auto;
    scrollbar-gutter: stable;
}
.select-language{
    margin: 5px;
    float: right;
    display: flex;
}
.img-lg{
    margin-right: 5px;
    width: 30px;
    height: 20px;
}
.btn-choose-img{
    width: 25%;
    height: 35px;
    border-radius: 5px;
    background-color:white;
    font-weight: bold;
    box-shadow: 0 5px 5px 0;
}
.info-title{
    text-align: center;
    padding: 5px;
}
#path-text{
    height: 30px;
    border-radius: 5px;
    width: 60%;
}
.input{
    height: 30px;
    border-radius: 5px;
    width: 95%;
}
.inputr{
    width: 20px;
    height: 20px;
}
.info-group{
    padding-top: 10px;
}
.choose-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.eng{
    border-radius: 5px;
}
.btn-add{
    float: right;
    cursor: pointer;
    display: none;
}

/* sroll */

div::-webkit-scrollbar-track {
    border-radius: 15px;
}  
div::-webkit-scrollbar {
    width: 15px;   
    border-radius: 15px;
}
div::-webkit-scrollbar-thumb {
    border-radius: 15px;
}
div:hover::-webkit-scrollbar-thumb {
    background-color:#a0a0a5;
    border:2px solid white;
}


/* cv */

#download-text{
    color: white;
    text-decoration:none;
    font-size: 15px;
    margin-left: 5px;
}
#download-show{
    padding-top: 12px;
    padding-left: 4px;
    color: white;
    font-size: 20px;
}
.download{
    z-index: 2;
    position: absolute;
    display: flex;
    border-radius: 0  50px  50px 0;
    float: left;
    width: 2%;
    height: 45px;
    background-color:rgb(53, 42, 42);
    box-shadow: 3px 3px 3px 3px rgb(172, 172, 172);
    transition: width .2s; 
}
#download-btn{
  
    cursor: pointer;
    display: none;
    color:white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 13px;
    padding-right: 2px;
}

.download:hover{
    width: 10%;
}


.mini-input{
    width: 78%;
    height:20px;
    border-radius: 5px;
    margin-right: 10px;
}
.mini-input-time{
    width: 35%;
    height:20px;
    border-radius: 5px;
    margin-right: 10px;
}
.mini-del{
    justify-content: center;
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
    color: red;
}
.mini-icon{
    margin-right: 5%;
    padding-bottom: 10px;
    width: 5%;
}

.div-hocvan, .div-kn, .div-hd, .div-cc, .div-giaithuong{
    border: solid 1px white;
    padding: 8px;
    border-radius: 5px;
}

/* tablet and phone */
@media only screen and (max-width: 800px) {
    .main{
        flex-wrap: wrap;
    }
    .sidebar, .right{
        width: 100%;
    }
    .download{
        width:10%;
    }
    .download:hover{
        width: 40%;
    }
    .download-btn{
        display: block;
    }
}

.avt-form{
    width: 100%;
    height: 100%;
}

button[id^="btn-addspace"] {

    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;


    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase!important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius:50px;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
}

button[id^="btn-addspace"]:hover{
    border: 1px solid #071982;
	  color: #80ffd3!important;
}
button[id^="btn-addspace"]::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
	  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	   box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

  button[id^="btn-addspace"]::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
button[id^="btn-addspace"]:hover::before, .btn1O:hover::before{
	opacity:1;
	width: 116%;
}
button[id^="btn-addspace"]:hover::after, .btn1O:hover::after{
	opacity:1;
	width: 120%;
}


/* label.effect-box:after,
label.effect-box:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 90%;
  margin-top: 0;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	
}

label.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

label.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

label.effect-box:hover:after,
label.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
} */

.breakpage{
    position: absolute;
  bottom: 0;
  right: 0;   
}

.do{
    z-index:2;
    position:absolute;
    width: 100%;
    height: 100%;
    max-height: 296mm;
    right: -12%;
    font-weight: bold;
}